@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}

.banner{
    
    position: relative;
    background-image: url(../assets/hand.jpg);
    //background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.overlay{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #0B0F15;
    mix-blend-mode: normal;
    opacity: 0.4;
    z-index: 0;
}
.container__1{
    position: absolute;
    left: 124px;
    top: 148px;
    &--xs{
        z-index: 1;
    }
        &--content{
            position: absolute;
            width: 631px;
            height: 549px;
            left: 124px;
            top: 148px;
            &inside{
                position: absolute;
                height: 60px;
                left: 15.68%;
                right: 14.26%;
                top:46%;
            }

        }
    }
    .container{
        &__2{
            margin-top: 93px;
            &--content{
                width:30%
            }
        }
        &__3{
            margin-top: 93px;
            &--content{
                width:30%
            }
        }
    }
    .box{
        &1{
            margin-top: 93px;
            img{width:100%;}
        }
        &2{
            margin-top: 93px;
            background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%);
            border-top-left-radius: 50% 7%;
            border-top-right-radius: 50% 7%;
            &__topcontent{
                margin: 73px 0px 70px 0;
            }
            &__middlecontent{
                h2{
                    font-weight: bold;
                    font-size: 26px;
                    line-height: 30px;
                    letter-spacing: 0.144444px;
                    font-weight: 700;
                    

                }
                &--color:hover{
                    background: #FF6E43;
                    border-radius: 5.28px; 
                    transition-duration: 0.6s;
                                        
                }
                &--flex{
                    width: 100%;
                }
            }
            &__finalcontent{
                li{
                    
                    list-style-image:url('../assets/list.svg');
                                      
                
                }
                ul{
                    margin-bottom: 96px;
                }
                             
            }
        }
        &3{
            h2{
                font-size: 40px;
                font-style: normal;
                font-weight: bold;
                line-height: 46px;
            }
            background-image: url('../assets/testimonials-bg-1.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            width: 100%;
            &__form{
                width:50%;
                &--size{
                    width: 100%;
                }
            }
            &__center{
                transform: translate(0%, 25%);
            }
                      
        }
        &4{
            h2{
                font-weight: 900;
                font-size: 40px;
                line-height: 47px;
            }
            .accordion-item{
                border:none;
            }
        }
        
    }
    .borderlist{
        border: 1px 0 solid;
    }
    .boxcontainer{
        .row{
            margin-top: 94px;
        }
        h2{
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 46px;
        }
        p{
            font-size: 16px;   
            font-style: normal;
            font-weight: normal;
            line-height: 25px;
        }
        &__1--content{
            width: 62%;
            
        }
        &__2--content{
            width: 70%;
        }
        &__3--content{
            width: 70%;
        }
    }
    .orange{
        color: #F44916;
        ;
    }
// .rectangle--2{
//     position: absolute;
//     left: 8.46%;
//     right: 2.84%;
//     top: 3.75%;
//     bottom: 1.9%;


// }


input{
                 background: transparent !important;
                border: none;
                color: white;
                outline: none;
                width: max-content;
}
.rectangle--1{
        position: absolute;
    left: 0.09%;
    right: 5.61%;
    top: 3.91%;
    bottom: 3.73%
    
}

.logo{
position: absolute;
left: 135px;
top: 62.47px;

}
.accordion-body{
    color:#F44916;
    ;
}
.accordion-button{
    padding: 9px 1.25rem;
}

// @media (max-width: 575.98px) { 
    
// }

// // `md` applies to small devices (landscape phones, less than 768px)
// @media (max-width: 767.98px) {
   
// }

// // `lg` applies to medium devices (tablets, less than 992px)
// @media (max-width: 991.98px) {  
    
// }

// // `xl` applies to large devices (desktops, less than 1200px)
// @media (max-width: 1199.98px) {  }

// // `xxl` applies to x-large devices (large desktops, less than 1400px)
// @media (max-width: 1399.98px) {  }


@media (max-width: 767px)  { 
    .accordion-button{
        padding: 9px 1.25rem;
        line-height: 1.4;
        font-weight: bold;
    }
    .logo{
        position: relative;
        left: 0px;
        top: 40px;
        
        }
    .banner{
    
        position: relative;
        background-image: url(../assets/ss.jpg);
        //background: rgba(0, 0, 0, 0.5);
        height: 74vh;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;

        
    }
    .container
    {
            &__1{
                
                &--content{
                    img{
                        display: none;
                    }
                }
                &--xs{
                    text-align: center;
                    transform: translateY(10%);
                }
            }
          


    }
.boxcontainer{
    .row{
        margin-top: 34px;
    }
    h2{
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: 46px;
    }
    p{
        font-size: 15px;   
        font-style: normal;
        font-weight: normal;
        line-height: 25px;
    }
    &__1--content{
        width: 100%;
        
    }
    &__2--content{
        width: 100%;
    }
    &__3--content{
        width: 100%;
    }
}
.orange{
    color: #ff8c00;
}
.box{
    &1{
        img{width: 75%; }
    }
    &2{
        margin-top: 93px;
        background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, #FFF5F2 100%);
       border-top-left-radius:0 ;
       border-top-right-radius:0 ;
        &__topcontent{
            margin: 14px 0px 9px 0;
        }
        &__middlecontent{
            h2{
                font-weight: bold;
                font-size: 26px;
                line-height: 30px;
                letter-spacing: 0.144444px;
                font-weight: 700;
                

            }
            &--color:hover{
                background: #FF6E43;
                border-radius: 5.28px; 
                transition-duration: 0.6s;
                                    
            }
            &--flex{
                width: 100%;
            }
        }
        &__finalcontent{
            li{
                
                list-style-image:url('/assets/list.svg');
                                  
            
            }
            ul{
                margin-bottom: 10px;
            }
                         
        }
    }
    &3{
        h2{
            font-size: 28px;
            font-style: normal;
            font-weight: bold;
            line-height: 46px;
        }
        background-image: url('../assets/testimonials-2.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
        &__form{
            width:100%;
            &--size{
                width: 100%;
            }
        }
        &__center{
            transform: translate(0%, 0%);
        }
                  
    }
}}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .container__1{
        position: absolute;
        left: 124px;
        top: 148px;
        &--xs{
            z-index: 1;
        }
            &--content{
                position: absolute;
                width: 631px;
                height: 549px;
                left: 45px;
                top: 180px;
                &inside{
                    position: absolute;
                    height: 60px;
                    left: 15.68%;
                    right: 14.26%;
                    top:46%;
                }
    
            }
        }
    .boxcontainer{
    .row{
        margin-top: 94px;
    }
    h2{
        font-size: 40px;
        font-style: normal;
        font-weight: bold;
        line-height: 46px;
    }
    p{
        font-size: 15px;   
        font-style: normal;
        font-weight: normal;
        line-height: 25px;
    }
    // &__1--content{
    //     width: 90%;
        
    // }
    // &__2--content{
    //     width: 100%;
    // }
    // &__3--content{
    //     width: 97%;
    // }
} }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .container__1{
        position: absolute;
        left: 124px;
        top: 148px;
        &--xs{
            z-index: 1;
        }
            &--content{
                position: absolute;
                width: 631px;
                height: 549px;
                left: 124px;
                top: 148px;
                &inside{
                    position: absolute;
                    height: 60px;
                    left: 15.68%;
                    right: 14.26%;
                    top:46%;
                }
    
            }
        }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }